@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #ee1515 0%,#ee1515 50%,#f0f0f0 51%,#f0f0f0 100%);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  //Poke(Si)mon title
  img.title {
    margin: 20px 0 10px 0;
    height: 10vh;
  }
}

/*****************
 * SWITCHES
 ****************/
.switches {
  width: 100vw;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: auto;
}

.switch {
  height: 10vh;
}

/*****************
 * POKEBALL CENTER
 ****************/
.game {
  width: 100%;
  @include center;
}

.rectangle {
  @include center;
  height: 7vh;
  width: 100%;
  background-color: #222224;
}

.circle-black {
  @include center;
  height: 50vh;
  width: 50vh;
  background-color: #222224;
  border-radius: 50%;
}

.circle-white {
  @include center;
  height: 42vh;
  width: 42vh;
  background-color: #f0f0f0;
  border-radius: 50%;
}

/*****************
 * COUNT AND MODE
 ****************/
.count-and-mode {
  width: 100vw;
  max-width: 500px;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.count {
  display: flex;
  flex-direction: column;

  img {
    height: 10vh;
  }
}

.btn-mode {
  height: 15vh;
}